@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* colour */
    --blue-shade: #334756;
    --orange-shade: #FF4C29;
    --text-color: #667580;
    --footer-head-text: #015198;
    --footer-background: #A9FFFA4F;

}
p{
    font-family:'Lato', sans-serif ;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.2rem;
}

h2{
    font-family: 'Roboto',sans-serif;
    color: var(--orange-shade);
    font-weight: 700;
    font-size: 2.5rem;
}

.background-tint {
    background-color: rgba(0, 0, 0, 0.5); /* Tint color */
    background-blend-mode: multiply;
}
/* Global styling ends */


/*Hero-section*/
#hero-section{
    height: 84.6vh;
    position:relative;
}
/* Hero-section */

/* Statistic-section */
.statistics h2{
    margin-top:2rem;
    text-align:center;
}
.statistics h2 span{
    display:block;
    margin-top:-37px;
    margin-bottom: 1rem;
}
.stat-container{
    position: relative;
    height:fit-content;
    display:flex;
    padding:2rem;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.stat-container::before{
    content: "";
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-image: url(/assets/home/hero_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index:-1;
    opacity:0.9;
    filter:brightness(0.3)
}
.stat{
    margin:1rem 5rem;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}
.stat h6{
    margin-top:10px;
    font-size:2rem;
    font-weight:700;
}
.stat img{
    width:100px;
    height:100px;
}
.stat p{
    margin-top:0px;
}
.stat p,h6{
    color: #D4D4D8;
    text-align:center
}

@media screen and (max-width:500px)
{
    .statistics h2{
        font-size:1.8rem;
    }
    .statistics h2 span{
        margin-top:-25px;
    }
}
/* statistics-section */
