@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* colour */
    --blue-shade: #334756;
    --orange-shade: #FF4C29;
    --text-color: #667580;
    --footer-head-text: #015198;
    --footer-background: #A9FFFA4F;

}
p{
    font-family:'Lato', sans-serif ;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.2rem;
}

h2{
    font-family: 'Roboto',sans-serif;
    color: var(--orange-shade);
    font-weight: 700;
    font-size: 2.5rem;
}

.background-tint {
    background-color: rgba(0, 0, 0, 0.5); /* Tint color */
    background-blend-mode: multiply;
}
/* Global styling ends */


/*Hero-section*/
#hero-section{
    background-image: url(../assets/home/hero/background.png);
    height: 84.6vh;
}
/* Hero-section */

/* Statistic-section */
.stat-container{
    background-image: url(../assets/home/statistic/Background.png);
    height: 100vh;

}
.stat p,h6{
    color: #D4D4D8;
}
/* statistics-section */
